<%- include('layout/header.ejs', {title:'首页', isNav: true}) %>

<h1><%= locals.title %></h1>
<p>EJS Welcome to <%= locals.title %></p>
<hr>
<%- include('widgets/user-info', { isMe }) %>
<hr>
<%- include('widgets/blog-list', { blogList }) %>

<%- include('layout/footer')%>